<div class="bg-base-color row py-4 header vw-100 mx-0 ">
  <h2 class="col-1 pl-2 text-white pt-2" translate>Alico</h2>

  <td-dynamic-menu class="col-1 text-white pt-2" [trigger]="setTriggerText('Items')" [items]="itemList"
    (itemClicked)="navigateToScreen($event)">
  </td-dynamic-menu>

  <td-dynamic-menu class="col-1 text-white pt-2" [trigger]="setTriggerText('Invoices')" [items]="invoiceList"
    (itemClicked)="navigateToScreen($event)">
  </td-dynamic-menu>

  <div class="col-9 pt-2 row justify-content-end">
    <td-dynamic-menu class="col-2 text-white text-right" [trigger]="setTriggerText('Lang','arrow_drop_down')"
      [items]="listOfLang" (itemClicked)="useLanguage($event.action)">
    </td-dynamic-menu>
    <!-- <kendo-dropdownlist [data]="listOfLang" [textField]="'value'" [valueField]="'key'" [valuePrimitive]="true"
      (valueChange)="useLanguage($event)" > </kendo-dropdownlist> -->
  </div>
</div>
