<nav class="navbar navbar-expand-lg bg-base-color mb-0">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="../../../../assets/images/logo.png" width="40" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown text-light">
          <button class="col-1" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
          </button>
        </li>
      </ul>
      <form class="d-flex text-light">
        <td-dynamic-menu [trigger]="setTriggerText('Lang'|translate,'arrow_drop_down')" [items]="listOfLang"
          (itemClicked)="useLanguage($event.action)">
        </td-dynamic-menu>
        <button class="w-auto" mat-icon-button [matMenuTriggerFor]="profileMenu">
          <mat-icon>person</mat-icon>
          {{'Welcome' | translate}} {{userFirstName}}
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
      </form>
    </div>
  </div>
</nav>


<!-- #region hidden menus -->

<!-- side menu -->
<mat-menu #menu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item routerLink="/"> {{'Dashboard' | translate}} </button>
    <button mat-menu-item [matMenuTriggerFor]="receivers"> {{'Receivers' | translate}} </button>
    <button mat-menu-item [matMenuTriggerFor]="items"> {{'Items' | translate}} </button>
    <button mat-menu-item [matMenuTriggerFor]="invoices"> {{'Invoices' | translate}} </button>

  </ng-template>
</mat-menu>

<!-- items dropdown -->
<mat-menu #items="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item routerLink="item/list">{{'Items List' | translate}}</button>
    <button mat-menu-item routerLink="item/add">{{'Add Item' | translate}}</button>
  </ng-template>
</mat-menu>

<!-- receivers dropdown -->
<mat-menu #receivers="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item routerLink="receiver/list">{{'Receivers List' | translate}}</button>
    <button mat-menu-item data-toggle="tooltip" data-placement="bottom" title="{{'Add Receiver'|translate}}"
      (click)="openReceiverPopup()"> {{'Add Receiver' | translate}}
    </button>


  </ng-template>
</mat-menu>


<!-- invoices dropdown -->
<mat-menu #invoices="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item routerLink="invoice/list">{{'Invoices List' | translate}}</button>
    <button mat-menu-item routerLink="invoice/add">{{'Add Invoice' | translate}}</button>
  </ng-template>
</mat-menu>

<!-- issuer dropdown -->
<mat-menu #profileMenu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item [matMenuTriggerFor]="issuer">{{'Issuer' | translate}}</button>
    <button mat-menu-item routerLink="user"
      *ngIf="securityService.user?.is_superuser || securityService.user?.is_staff">{{'Add User' | translate}}</button>
    <button mat-menu-item (click)="downloadWebAgent()"
      *ngIf="securityService.user?.is_superuser || securityService.user?.is_staff">{{'Download Web Agent' |
      translate}}</button>
    <button mat-menu-item routerLink="user/list" *ngIf="securityService.user?.is_superuser">{{'User Management' |
      translate}}</button>
      <button mat-menu-item routerLink="user/trace-log" *ngIf="securityService.user?.is_superuser">{{'Trace Log' |
        translate}}</button>
    <button mat-menu-item [routerLink]="['/user/reset-password']" mat-menu-item>{{'change Password' |
      translate}}</button>
    <button mat-menu-item (click)="logout()">{{'Logout' | translate}}</button>
  </ng-template>
</mat-menu>

<!-- issuer submenu -->
<mat-menu #issuer="matMenu">
  <button mat-menu-item routerLink="issuer/details">{{'Edit Profile' | translate}}</button>
  <button mat-menu-item routerLink="issuer/address">{{'Add Address' | translate}}</button>
</mat-menu>

<!-- #endregion -->
