<mat-card>
    <mat-card-title>
        {{'User' | translate}} : {{userDetails.username}}
    </mat-card-title>
    <hr>
    <div class="pb-3"><strong>{{'First Name'| translate}}</strong> : {{userDetails.first_name}}</div>
    <div class="pb-3"><strong>{{'Last Name'| translate}}</strong> : {{userDetails.last_name}}</div>
    <div class="pb-3"><strong>{{'User Name'| translate}}</strong> : {{userDetails.username}}</div>
    <div class="pb-3"><strong>{{'Email'| translate}}</strong> : {{userDetails.email}}</div>
    <div class="pb-3"><strong>{{'A Staff Member'| translate}}</strong> : {{userDetails.is_staff}}</div>
    <div class="pb-3"><strong>{{'Superuser'| translate}}</strong> : {{userDetails.is_superuser}}</div>
    <div class="pb-3"><strong>{{'Active'| translate}}</strong> : {{userDetails.is_active}}</div>
    <div class="pb-3"><strong>{{'Date Joined'| translate}}</strong> : {{userDetails.date_joined}}</div>
    <div class="pb-3"><strong>{{'Last Login'| translate}}</strong> : {{userDetails.last_login}}</div>
    <div class="pb-3"><strong>{{'Issuer'| translate}}</strong> : {{userDetails.issuer}}</div>

</mat-card>