<mat-card>
  <!-- card title -->
  <mat-card-title>{{'Create Item'|translate}}</mat-card-title>
  <br>
  <!-- card content -->
  <mat-card-content>
    <form class="form">
      <!-- first row -->
      <div class="row">
        <!-- Name -->
        <div class="col-md-6">
          <div class="form-group">
            <label>{{'Name' | translate}}<span class="text-danger">*</span></label>
            <input type="text" class="form-control" [(ngModel)]="model.item_name" name="item_name"
              placeholder="{{'Name'|translate}}">
          </div>
        </div>
        <!-- description -->
        <div class="col-md-6">
          <div class="form-group">
            <label>{{'Description' | translate}}</label>
            <input type="text" class="form-control" name="item_desc" [(ngModel)]="model.item_desc"
              placeholder="{{'Description'|translate}}">
          </div>
        </div>
      </div>
      <!-- second row -->
      <div class="row">
        <!-- internal code -->
        <div class="col-md-6">
          <div class="form-group">
            <label>{{'Internal Code' | translate}}<span class="text-danger">*</span></label>
            <input type="text" class="form-control" [(ngModel)]="model.internal_code" name="internal_name"
              placeholder="{{'Internal Code'|translate}}">
          </div>
        </div>
        <!-- unit type -->
        <div class="col-md-6">
          <div class="form-group">
            <label>{{'Unit Type' | translate}}<span class="text-danger">*</span></label>
            <ng-select [items]="listOfUnitTypes" bindLabel="unitType" bindValue="id" [(ngModel)]="model.unit_type"
              name="unit_type" [searchable]="true" placeholder="{{'Unit Type'|translate}}">
            </ng-select>
          </div>
        </div>
      </div>
      <!-- third row -->
      <div class="row">
        <!-- code type -->
        <!-- type -->
        <div class="col-md-6">
          <div class="form-group">
            <label>{{'Type' | translate}}</label>
            <ng-select [(ngModel)]="model.item_type" name="item_type" [items]="listOfTypes" [searchable]="true"
              placeholder="{{'Code Type'|translate}}">
            </ng-select>
          </div>
        </div>
        <!-- code -->
        <div class="col-md-6">
          <div class="form-group">
            <label>{{'Code' | translate}}</label>
            <input [(ngModel)]="model.item_code" type="text" name="item_code" class="form-control"
              placeholder="{{'Code'|translate}}">
          </div>
        </div>
      </div>
      <!-- forth row -->
      <div class="row">
        <!-- tax type -->
        <div class="col-md-6">
          <div class="form-group">
            <label>{{'Tax Type' | translate}}</label>
            <ng-select [(ngModel)]="model.sub_tax_type" name="sub_tax_type" [items]="listOfTaxTypes" bindLabel="taxType"
              bindValue="id" [searchable]="true" placeholder="{{'Tax Type'|translate}}">
            </ng-select>
          </div>
        </div>
        <!-- tax rate -->
        <div class="col-md-6">
          <div class="form-group" [(ngModel)]="model.sub_tax_rate">
            <label>{{'Tax Rate' | translate}}</label>
            <input name="sub_tax_rate" formControlName="sub_tax_rate" type="number" class="form-control"
              placeholder="{{'Tax Rate'|translate}}">
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<br>

<!-- card actions -->
<mat-card-actions class="text-center">
  <button mat-button class="btn btn-secondary text-light" (click)="cancelAndRouteBack()">Cancel</button>
  <button mat-button class="btn btn-info text-light" type="submit" (click)="createItem(model)">Create</button>
</mat-card-actions>