<mat-card>
  <!-- card title -->
  <mat-card-title>{{model.id? ('Update Item'|translate ) : ('Create Item'|translate)}}</mat-card-title>
  <br>
  <!-- card content -->
  <mat-card-content>
    <div class="form" [formGroup]="itemsForm">
      <!-- first row -->
      <div class="row">
        <!-- Name -->
        <div class="col-md-6">
          <div class="form-group">
            <label>{{'Name' | translate}}<span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="item_name" [(ngModel)]="model.item_name"
              placeholder="{{'Name'|translate}}">
            <small class="text-danger" *ngIf="isSubmitted && itemsFormControls.item_name.errors?.required">
              {{'Name is required'|translate}}.
            </small>
          </div>

        </div>
        <!-- description -->
        <div class="col-md-6">
          <div class="form-group">
            <label>{{'Description' | translate}}<span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="item_desc" [(ngModel)]="model.item_desc"
              placeholder="{{'Description'|translate}}">
            <small class="text-danger" *ngIf="isSubmitted && itemsFormControls.item_desc.errors?.required">
              {{'Item Description is required'|translate}}.
            </small>
          </div>
        </div>
      </div>
      <!-- second row -->
      <div class="row">
        <!-- internal code -->
        <div class="col-md-6">
          <div class="form-group">
            <label>{{'Internal Code' | translate}}<span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="internal_code" [(ngModel)]="model.internal_code"
              placeholder="{{'Internal Code'|translate}}">
            <small class="text-danger" *ngIf="isSubmitted && itemsFormControls.internal_code.errors?.required">
              {{'Name is required'|translate}}.
            </small>
          </div>
        </div>
        <!-- unit type -->
        <div class="col-md-6">
          <div class="form-group">
            <label>{{'Unit Type' | translate}}<span class="text-danger">*</span></label>
            <ng-select *ngIf="translate.currentLang === 'en'" [items]="listOfUnitTypes" bindLabel="desc_en"
              bindValue="code" formControlName="unit_type" [(ngModel)]="model.unit_type" [searchable]="true"
              placeholder="{{'Unit Type'|translate}}">
            </ng-select>
            <ng-select *ngIf="translate.currentLang === 'ar'" [items]="listOfUnitTypes" bindLabel="desc_ar"
              bindValue="code" formControlName="unit_type" [(ngModel)]="model.unit_type" [searchable]="true"
              placeholder="{{'Unit Type'|translate}}">
            </ng-select>

          </div>
        </div>
      </div>
      <!-- third row -->
      <div class="row">
        <!-- code type -->
        <!-- type -->
        <div class="col-md-6">
          <div class="form-group">
            <label>{{'Type' | translate}}</label>
            <ng-select [(ngModel)]="model.item_type" [items]="listOfTypes" formControlName="item_type"
              [searchable]="true" placeholder="{{'Activity Type'|translate}}">
            </ng-select>

          </div>
        </div>
        <!-- code -->
        <div class="col-md-6">
          <div class="form-group">
            <label>{{'Code' | translate}}<span class="text-danger">*</span></label>
            <input [(ngModel)]="model.item_code" type="text" class="form-control" formControlName="item_code"
              placeholder="{{'Code'|translate}}">
            <small class="text-danger" *ngIf="isSubmitted && itemsFormControls.item_code.errors?.required">
              {{'Item Code is required'|translate}}.
            </small>
          </div>
        </div>
      </div>
      <!-- forth row -->
      <div class="row">
        <!-- tax type -->
        <div class="col-md-6">
          <div class="form-group">
            <label>{{'Tax Type' | translate}}</label>
            <ng-select *ngIf="translate.currentLang === 'en'" [(ngModel)]="model.sub_tax_type" [items]="listOfTaxTypes"
              bindLabel="desc_en" bindValue="code" [searchable]="true" formControlName="sub_tax_type"
              placeholder="{{'Tax Type'|translate}}">
            </ng-select>
            <ng-select *ngIf="translate.currentLang === 'ar'" [(ngModel)]="model.sub_tax_type" [items]="listOfTaxTypes"
              bindLabel="desc_ar" bindValue="code" [searchable]="true" formControlName="sub_tax_type"
              placeholder="{{'Tax Type'|translate}}">
            </ng-select>
          </div>
        </div>
        <!-- tax rate -->
        <div class="col-md-6">
          <div class="form-group">
            <label>{{'Tax Rate' | translate}}<span *ngIf="model.sub_tax_type" class="text-danger">*</span></label>
            <input type="number" class="form-control" formControlName="sub_tax_rate" [required]="model.sub_tax_type"
              [(ngModel)]="model.sub_tax_rate" placeholder="{{'Tax Rate'|translate}}">
            <small class="text-danger"
              *ngIf="isSubmitted && ((itemsFormControls.sub_tax_rate.errors?.min||itemsFormControls.sub_tax_rate.errors?.max ) || model.sub_tax_type)">
              {{'Tax rate should be between 0 and 100'|translate}}.
            </small>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<br>

<!-- card actions -->
<mat-card-actions class="text-center">
  <button mat-button class="btn btn-secondary text-light" (click)="cancelAndRouteBack()">Cancel</button>
  <button mat-button class="btn btn-info text-light" type="submit" (click)="itemSubmitAction(model.id)">
    {{model.id? ('Update'|translate ) :
    ('Create '|translate)}}
  </button>
</mat-card-actions>
