<mat-card>
  <mat-card-title>{{'Invoices List' | translate}}</mat-card-title>
  <mat-form-field appearance="standard">
    <mat-label>{{'Search' | translate}}</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="invoiceDataSource" matSort>

      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'#' | translate}} </th>
        <td mat-cell *matCellDef="let row"> {{row.number}} </td>
      </ng-container>

      <ng-container matColumnDef="internal_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Invoice #' | translate}} </th>
        <td mat-cell *matCellDef="let row"> {{row.internal_id}} </td>
      </ng-container>

      <ng-container matColumnDef="receiver_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Customer Name' | translate}} </th>
        <td mat-cell *matCellDef="let row"> {{row.receiver_name}} </td>
      </ng-container>

      <ng-container matColumnDef="date_time_issued">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Date Time Issued' | translate}} </th>
        <td mat-cell *matCellDef="let row"> {{row.date_time_issued | date}} </td>
      </ng-container>

      <ng-container matColumnDef="total_amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Total Amout' | translate}} </th>
        <td mat-cell *matCellDef="let row"> {{row.total_amount}} </td>
      </ng-container>

      <ng-container matColumnDef="invoice_status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Invoice Status' | translate}} </th>
        <td mat-cell *matCellDef="let row"> {{row.invoice_status}} </td>
      </ng-container>

      <ng-container matColumnDef="portal_status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Portal Status' | translate}} </th>
        <td mat-cell *matCellDef="let row"> {{row.portal_status}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Actions' | translate}} </th>
        <td mat-cell *matCellDef="let row">
          <button mat-button class="btn btn-primary" [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <!-- view -->
            <button mat-menu-item [routerLink]="['/invoice/view', row.id]">{{'View Invoice' | translate}}</button>

            <!-- submit / resubmit -->
            <button mat-menu-item *ngIf="row.portal_status === '--'"
              (click)="submitInvoice(row.internal_id)">{{'Submit' | translate}}</button>
            <button mat-menu-item *ngIf="row.portal_status === 'Invalid'">{{'Resubmit' | translate}}</button>

            <!-- view errors -->
            <button mat-menu-item *ngIf="row.portal_status === 'Invalid'"
              [routerLink]="['/invoice/errors', row.id]">{{'View Errors' | translate}}</button>

            <!-- print -->
            <button mat-menu-item>{{'Print Invoice' | translate}}</button>

            <!-- cancel -->
            <button mat-menu-item>{{'Cancel' | translate}}</button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center" colspan="4">{{'No data to show' | translate}}</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</mat-card>
