<!-- radio buttons for receiver -->
<!-- <mat-card>
  <div class="row">
    <div class="form-check col-md-6">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" [value]="true"
        [(ngModel)]="isNewReceiver">
      <label class="form-check-label" for="flexRadioDefault1">
        {{'New Receiver'|translate}}
      </label>
    </div>
    <div class="form-check col-md-6">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" [value]="false"
        [(ngModel)]="isNewReceiver" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        {{'Existing Receiver'|translate}}
      </label>
    </div>
  </div>
</mat-card> -->
<br>

<!-- receiver form -->
<mat-card>
  <br>
  <!-- receiver card data -->
  <mat-card-content>
    <div class="form">
      <!-- first row -->
      <div class="row d-flex align-items-center">
        <!-- name -->
        <div class="col-6">
          <div class="form-group">
            <label>{{'Receiver Name' | translate}}<span class="text-danger">*</span></label>
            <ng-select [items]="listOfReceivers" bindLabel="name" bindValue="id" [searchable]="true"
              placeholder="{{'Receiver Name'|translate}}">
            </ng-select>
          </div>
        </div>
        <!-- add btn -->
        <div class="col-3">
          <div class="form-group">
            <button type="button" class="btn btn-primary" (click)="openReceiverPopup()">add</button>
          </div>
        </div>
      </div>

    </div>
  </mat-card-content>
</mat-card>
<br>

<!-- invoice form -->
<mat-card>
  <mat-card-title>{{'Invoice'|translate}}</mat-card-title>
  <br>
  <form class="form">
    <!-- first row -->
    <div class="row">
      <!-- document type -->
      <div class="col-md-4">
        <div class="form-group">
          <label>{{'Document Type'|translate}}<span class="text-danger">*</span></label>
          <ng-select [items]="listOfDocumentTypes" bindLabel="label" bindValue="value" [searchable]="true"
            placeholder="{{'Document Type'|translate}}">
          </ng-select>
        </div>
      </div>
      <!-- document type version -->
      <div class="col-md-4">
        <div class="form-group">
          <label>{{'Document Type Version'|translate}}<span class="text-danger">*</span></label>
          <ng-select [items]="listOfDocumentTypeVersions" [searchable]="true"
            placeholder="{{'Document Type Version'|translate}}">
          </ng-select>
        </div>
      </div>
      <!-- Internal ID -->
      <div class="col-md-4">
        <div class="form-group">
          <label>{{'Internal ID'|translate}}<span class="text-danger">*</span></label>
          <input type="text" class="form-control" placeholder="{{'Internal ID'|translate}}">
        </div>
      </div>
    </div>

    <!-- second row -->
    <div class="row">
      <!-- Items -->
      <div class="col-md-4">
        <div class="form-group">
          <label>{{'Items'|translate}}<span class="text-danger">*</span></label>
          <ng-select [items]="listOfItems" bindLabel="name" bindValue="id" [searchable]="true"
            placeholder="{{'Items'|translate}}">
          </ng-select>
        </div>
      </div>
      <!-- Quantity -->
      <div class="col-md-4">
        <div class="form-group">
          <label>{{'Quantity'|translate}}<span class="text-danger">*</span></label>
          <input type="number" class="form-control" placeholder="{{'Quantity'|translate}}">
        </div>
      </div>
      <!-- Total Amount -->
      <div class="col-md-4">
        <div class="form-group">
          <label>{{'Total Amount'|translate}}<span class="text-danger">*</span></label>
          <input type="number" class="form-control" placeholder="{{'Total Amount'|translate}}">
        </div>
      </div>
    </div>
    <!-- description -->
    <div class="form-group">
      <label>{{'Description'|translate}}</label>
      <input type="number" class="form-control" placeholder="{{'Description'|translate}}">
    </div>

  </form>


</mat-card>
<br>

<!-- card actions -->
<mat-card-actions class="text-center">
  <button mat-button class="btn btn-secondary text-light" (click)="cancelAndRouteBack()">Cancel</button>
  <button mat-button class="btn btn-info text-light">Create</button>
</mat-card-actions>
