.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);

}

.login-form{
  padding: 4rem 2rem;
  box-shadow: 0px 3px 5px 3px rgba(66, 66, 66, 0.63);
-webkit-box-shadow: 0px 3px 5px 3px rgba(66, 66, 66, 0.63);
-moz-box-shadow: 0px 3px 5px 3px rgba(59, 59, 59, 0.63);
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}