<div class="row justify-content-center bg-base-color login mx-0">
  <div class="col-12">
    <div class="row justify-content-end">
      <td-dynamic-menu class="col-2 text-white text-right"
        [trigger]="setTriggerText('Lang'|translate,'arrow_drop_down')" [items]="listOfLang"
        (itemClicked)="useLanguage($event.action)">
      </td-dynamic-menu>

    </div>
  </div>
  <div class="col-3 bg-light rounded box">
    <div class="row py-5">
      <div class="col-12 form-group">
        <input type="text" class="form-control" [placeholder]="'User Name'| translate">
      </div>
      <div class="col-12 form-group">
        <input type="text" class="form-control" [placeholder]="'Password'|translate">
      </div>
      <div class="col-12 form-group">
        <button class="btn btn-secondary" (click)="login()" translate>{{'Login'|translate}}</button>
      </div>
    </div>
  </div>
</div>
