<section class="vh-100 bg-base-color">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="row justify-content-end">
          <td-dynamic-menu class="col-2 text-white text-right"
            [trigger]="setTriggerText('Lang'|translate,'arrow_drop_down')" [items]="listOfLang"
            (itemClicked)="useLanguage($event.action)">
          </td-dynamic-menu>

        </div>
      </div>
    </div>
    <br>
    <div class="h-custom pt-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8 col-lg-6 col-xl-6 ">
          <mat-card class="login-form">
            <div class="row">

         
            <div class="col-md-9 col-lg-6 col-xl-5 login-img">
              <img src="../../assets/images/login-img.png" class="img-fluid h-100" alt="Sample image">
            </div>
            <div [formGroup]="loginForm" class="col-6 inner-form" (keyup.enter)="userLogin(model)">

              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example3">{{'Email Address'|translate}}<span
                    class="text-danger">*</span></label>
                <input type="email" id="form3Example3" class="form-control form-control-lg"
                  placeholder="{{'Enter a valid email address'|translate}}" formControlName="email"
                  [(ngModel)]="model.email" />
                <small class="text-danger" *ngIf="isSubmitted && loginForm.controls.email?.errors?.required">
                  {{'Email is required'|translate}}.
                </small>
              </div>

              <div class="form-outline mb-3">
                <label class="form-label" for="form3Example4">{{'Password'|translate}}<span
                    class="text-danger">*</span></label>
                <input type="password" id="form3Example4" class="form-control form-control-lg"
                  placeholder="{{'Enter password'|translate}}" formControlName="password"
                  [(ngModel)]="model.password" />
                <small class="text-danger" *ngIf="isSubmitted && loginForm.controls.password?.errors?.required">
                  {{'Password is required'|translate}}.
                </small>
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <a href="#!" class="text-body">{{'Change password?'|translate}}</a>
              </div>

              <div class="text-center text-lg-start mt-4 pt-2">
                <button type="button" class="btn btn-danger btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;"
                  (click)="userLogin(model)" (submit)="userLogin(model)">{{'Login'|translate}}</button>
                <p class="small mt-2 pt-1 mb-0">{{"Don't have an account?"|translate}} <a routerLink="/register"
                    class="link-primary">{{'Register'|translate}}</a>
                </p>
              </div>

            </div>
          </div>
          </mat-card>



        </div>
      </div>
    </div>
  </div>

</section>