<div class="row pb-5 justify-content-end">
  <div class="col-1">
    <button class="btn btn-primary">{{'Update' | translate}}</button>
  </div>
  <div class="col-1">
    <button class="btn btn-primary"
      (click)="submitInvoice(invoiceDetails.internal_id)">{{'Submit' | translate}}</button>
  </div>
  <div class="col-1">
    <button class="btn btn-warning" (click)="routeToInvoiceList()">{{'Back' | translate}}</button>
  </div>

</div>
<!-- invoice -->
<mat-card>
  <mat-card-title class="text-secondary">{{'Invoice'|translate}}</mat-card-title>

  <div class="row">
    <div class="col-6">
      <div><label><strong>{{'Invoice'|translate}} # </strong></label>: <span> {{invoiceDetails.internal_id}}</span>
      </div>
      <div><label><strong>{{'Invoice Status'|translate}}</strong></label>: <span>
          {{invoiceDetails.invoice_status}}</span></div>
      <div><label><strong>{{'Portal Status'|translate}}</strong></label>: <span>
          {{invoiceDetails.portal_status}}</span></div>

    </div>
    <div class="col-6">
      <div><label><strong>{{'UUID'|translate}} </strong></label>:<span>{{invoiceDetails.subm_uuid}} </span></div>
      <div><label><strong>{{'Submission ID'|translate}}</strong></label>: <span> {{invoiceDetails.subm_id}}</span>
      </div>
    </div>
  </div>


  <br>
  <hr>
  <br>
  <!-- receiver -->

  <mat-card-title class="text-secondary">{{'Receiver'|translate}}</mat-card-title>

  <div class="row">
    <div class="col-6">
      <div><label><strong>{{'Name'|translate}}</strong></label>: <span> {{invoiceDetails.receiver_name}}</span></div>
      <div><label><strong>{{'Registration Number'|translate}}</strong></label>: <span>
          {{invoiceDetails.receiver_reg_num}}</span></div>
    </div>
    <div class="col-6">
      <div><label><strong>{{'Address'|translate}} </strong></label>: <span
          *ngIf="invoiceDetails.receiver_address">{{invoiceDetails.receiver_address}}</span></div>
    </div>
  </div>


  <br>
  <hr>
  <br>

  <!-- items -->
  <mat-card-title class="text-secondary">{{'Items'|translate}}</mat-card-title>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">{{'Item Name'|translate}}</th>
        <th scope="col">{{'Item Code'|translate}}</th>
        <th scope="col">{{'Description'|translate}}</th>
        <th scope="col">{{'Quantity'|translate}}</th>
        <th scope="col">{{'Amount EGP'|translate}}</th>
        <th scope="col">{{'Total Amount'|translate}}</th>

      </tr>
    </thead>
    <tbody>
      <!-- loop on tr-->
      <tr *ngFor="let line of invoiceDetails.lines">
        <td scope="row">{{line.item_name}}</td>
        <td>{{line.item_code}}</td>
        <td>{{line.description}}</td>
        <td>{{line.quantity}}</td>
        <td>{{line.amount_egp}}</td>
        <td>{{line.total_amount}}</td>
      </tr>
      <br>
      <tr>
        <td colspan="4"></td>
        <td>{{'Total Sales Amount'|translate}}</td>
        <td>{{invoiceDetails.total_sales_amount}}</td>
      </tr>
      <tr>
        <td colspan="4"></td>
        <td>{{'Total Discount Amount'|translate}}</td>
        <td>{{invoiceDetails.total_discount_amount}}</td>
      </tr>
      <tr>
        <td colspan="4"></td>
        <td>{{'Total Items Discount Amount'|translate}}</td>
        <td>{{invoiceDetails.total_items_discount_amount}}</td>
      </tr>
      <tr>
        <td colspan="4"></td>
        <td>{{'Tax Total'|translate}}</td>
        <td>{{invoiceDetails.tax_totals}}</td>
      </tr>
      <tr>
        <td colspan="4"></td>
        <td>{{'Extra Discount Amount'|translate}}</td>
        <td>{{invoiceDetails.extra_discount_amount}}</td>
      </tr>
      <tr>
        <td colspan="4"></td>
        <td>{{'Total Amount'|translate}}</td>
        <td>{{invoiceDetails.total_amount}}</td>
      </tr>
    </tbody>
  </table>
</mat-card>
