<!-- invoice -->
<mat-card>
  <mat-card-title class="text-secondary">{{'Invoice'|translate}}</mat-card-title>
  <fieldset>
    <div class="col-md-6">
      <div><label><strong>{{'Invoice'|translate}} # </strong></label> <span> {{invoiceDetails.internal_id}}</span></div>
      <div><label><strong>{{'Invoice Status'|translate}}</strong></label> <span>
          {{invoiceDetails.invoice_status}}</span></div>
      <div><label><strong>{{'Portal Status'|translate}}</strong></label> <span>
          {{invoiceDetails.portal_status}}</span></div>

    </div>
    <div class="col-md-6">
      <div><label><strong>{{'UUID'|translate}} </strong></label> <span> hii</span></div>
      <div><label><strong>{{'Submission ID'|translate}}</strong></label> <span> Submitted</span></div>
    </div>
  </fieldset>
</mat-card>
<br>
<!-- receiver -->
<mat-card>
  <mat-card-title class="text-secondary">{{'Receiver'|translate}}</mat-card-title>
  <fieldset>
    <div class="col-md-6">
      <div><label><strong>{{'Name'|translate}}</strong></label> <span> {{invoiceDetails.receiver_name}}</span></div>
      <div><label><strong>{{'Registration Number'|translate}}</strong></label> <span>
          {{invoiceDetails.receiver_reg_num}}</span></div>
    </div>
    <div class="col-md-6">
      <div><label><strong>{{'Address'|translate}} </strong></label> <span> {{invoiceDetails.receiver_buildingNumber}},
          {{invoiceDetails.receiver_street}}, {{invoiceDetails.receiver_governate}},
          {{invoiceDetails.receiver_country}}</span></div>
    </div>
  </fieldset>
</mat-card>
<br>

<!-- items -->
<mat-card>
  <mat-card-title class="text-secondary">{{'Items'|translate}}</mat-card-title>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">{{'Item Name'|translate}}</th>
        <th scope="col">{{'Item Code'|translate}}</th>
        <th scope="col">{{'Description'|translate}}</th>
        <th scope="col">{{'Quantity'|translate}}</th>
        <th scope="col">{{'Amount EGP'|translate}}</th>
        <th scope="col">{{'Total Amount'|translate}}</th>

      </tr>
    </thead>
    <tbody>
      <!-- loop on tr-->
      <tr *ngFor="let line of invoiceDetails.lines">
        <th scope="row"></th>
        <td></td>
        <td>{{line.description}}</td>
        <td>{{line.quantity}}</td>
        <td>{{line.amount_egp}}</td>
        <td>{{line.total_amount}}</td>
      </tr>
    </tbody>
  </table>
</mat-card>
