<!-- invoice -->
<mat-card>
  <mat-card-title class="text-secondary">{{'Invoice'|translate}}</mat-card-title>
  <fieldset>
    <div class="col-md-6">
      <div><label><strong>{{'Invoice'|translate}} # </strong></label> <span> hii</span></div>
      <div><label><strong>{{'Status'|translate}}</strong></label> <span> Submitted</span></div>
    </div>
    <div class="col-md-6">
      <div><label><strong>{{'UUID'|translate}} </strong></label> <span> hii</span></div>
      <div><label><strong>{{'Submission ID'|translate}}</strong></label> <span> Submitted</span></div>
    </div>
  </fieldset>
</mat-card>
<br>
<!-- receiver -->
<mat-card>
  <mat-card-title class="text-secondary">{{'Receiver'|translate}}</mat-card-title>
  <fieldset>
    <div class="col-md-6">
      <div><label><strong>{{'Name'|translate}}</strong></label> <span> hii</span></div>
      <div><label><strong>{{'Registration Number'|translate}}</strong></label> <span> Submitted</span></div>
    </div>
    <div class="col-md-6">
      <div><label><strong>{{'Address'|translate}} </strong></label> <span> hii</span></div>
    </div>
  </fieldset>
</mat-card>
<br>

<!-- items -->
<mat-card>
  <mat-card-title class="text-secondary">{{'Items'|translate}}</mat-card-title>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">{{'Item Name'|translate}}</th>
        <th scope="col">{{'Item Code'|translate}}</th>
        <th scope="col">{{'Description'|translate}}</th>
        <th scope="col">{{'Quantity'|translate}}</th>
        <th scope="col">{{'Amount EGP'|translate}}</th>
        <th scope="col">{{'Total Amount'|translate}}</th>

      </tr>
    </thead>
    <tbody>
      <!-- loop on tr-->
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
</mat-card>
