.ng-dropdown-panel .scroll-host {
    background-color: grey !important;
    width: 61rem;
    border-radius: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white !important;
}