<mat-card>
  <!-- address  -->
  <mat-card-title>{{'Address'|translate}}</mat-card-title>
  <br>
  <mat-card-content>
    <div [formGroup]="addressForm" class="form">
      <!-- first row -->
      <div class="row">
        <!-- branch id -->
        <div class="col-md-2">
          <div class="form-group">
            <label>{{'Branch ID'|translate}}<span class="text-danger">*</span></label>
            <input type="text" class="form-control" placeholder="{{'Branch ID'|translate}}"
              [(ngModel)]="addressDetails.branch_id" formControlName="branch_id">
            <small class="text-danger" *ngIf="isSubmitted && addressFormControls.branch_id.errors?.required">
              {{'Branch ID is required'|translate}}.
            </small>
          </div>
        </div>
        <!-- country -->
        <div class="col-md-2">
          <div class="form-group">
            <label>{{'Country'|translate}}<span class="text-danger">*</span></label>
            <!-- for english lang -->
            <ng-select *ngIf="translate.currentLang === 'en'" [items]="listOfCountries" [bindLabel]="'desc_en'"
              bindValue="code" [searchable]="true" placeholder="{{'Country'|translate}}"
              [(ngModel)]="addressDetails.country" formControlName="country">
            </ng-select>
            <ng-select *ngIf="translate.currentLang === 'ar'" [items]="listOfCountries" [bindLabel]="'desc_ar'"
              bindValue="code" [searchable]="true" placeholder="{{'Country'|translate}}"
              [(ngModel)]="addressDetails.country" formControlName="country">
            </ng-select>
            <small class="text-danger" *ngIf="isSubmitted && addressFormControls.country.errors?.required">
              {{'Country is required'|translate}}.
            </small>
          </div>
        </div>
        <!-- governate-->
        <div class="col-md-2">
          <div class="form-group">
            <label>{{'Governate'|translate}}<span class="text-danger">*</span></label>
            <input type="text" class="form-control" placeholder="{{'Governate'|translate}}"
              [(ngModel)]="addressDetails.governate" formControlName="governate">
            <small class="text-danger" *ngIf="isSubmitted && addressFormControls.governate.errors?.required">
              {{'Governate is required'|translate}}.
            </small>
          </div>
        </div>
        <!-- region city-->
        <div class="col-md-2">
          <div class="form-group">
            <label>{{'Region City'|translate}}<span class="text-danger">*</span></label>
            <input type="text" class="form-control" placeholder="{{'Region City'|translate}}"
              [(ngModel)]="addressDetails.regionCity" formControlName="regionCity">
            <small class="text-danger" *ngIf="isSubmitted && addressFormControls.regionCity.errors?.required">
              {{'Region City is required'|translate}}.
            </small>
          </div>
        </div>
        <!-- street -->
        <div class="col-md-2">
          <div class="form-group">
            <label>{{'Street'|translate}}<span class="text-danger">*</span></label>
            <input type="text" class="form-control" placeholder="{{'Street'|translate}}"
              [(ngModel)]="addressDetails.street" formControlName="street">
            <small class="text-danger" *ngIf="isSubmitted && addressFormControls.street.errors?.required">
              {{'Street is required'|translate}}.
            </small>
          </div>
        </div>
        <!-- building number -->
        <div class="col-md-2">
          <div class="form-group">
            <label>{{'Building Number'|translate}}<span class="text-danger">*</span></label>
            <input type="text" class="form-control" placeholder="{{'Building Number'|translate}}"
              [(ngModel)]="addressDetails.buildingNumber" formControlName="buildingNumber">
            <small class="text-danger" *ngIf="isSubmitted && addressFormControls.buildingNumber.errors?.required">
              {{'Building Number is required'|translate}}.
            </small>
          </div>
        </div>
      </div>
      <!-- second row -->
      <div class="row">
        <!-- Postal Code -->
        <div class="col-md-2">
          <div class="form-group">
            <label>{{'Postal Code'|translate}}</label>
            <input type="text" class="form-control" placeholder="{{'Postal Code'|translate}}"
              [(ngModel)]="addressDetails.postalCode" formControlName="postalCode">

          </div>
        </div>
        <!-- Floor -->
        <div class="col-md-2">
          <div class="form-group">
            <label>{{'Floor'|translate}}</label>
            <input type="text" class="form-control" placeholder="{{'Floor'|translate}}"
              [(ngModel)]="addressDetails.floor" formControlName="floor">
          </div>
        </div>
        <!-- Room -->
        <div class="col-md-2">
          <div class="form-group">
            <label>{{'Room'|translate}}</label>
            <input type="text" class="form-control" placeholder="{{'Room'|translate}}" [(ngModel)]="addressDetails.room"
              formControlName="room">
          </div>
        </div>
        <!-- landmark -->
        <div class="col-md-2">
          <div class="form-group">
            <label>{{'Landmark'|translate}}</label>
            <input type="text" class="form-control" placeholder="{{'Landmark'|translate}}"
              [(ngModel)]="addressDetails.landmark" formControlName="landmark">
          </div>
        </div>
        <!-- Additional Information -->
        <div class="col-md-4">
          <div class="form-group">
            <label>{{'Additional Information'|translate}}</label>
            <input type="text" class="form-control" placeholder="{{'Additional Information'|translate}}"
              [(ngModel)]="addressDetails.additionalInformation" formControlName="additionalInformation">
          </div>
        </div>
      </div>

    </div>
  </mat-card-content>


</mat-card>
<!-- card actions -->
<br>
<mat-card-actions class="text-center">
  <button mat-button class="btn btn-secondary text-light" (click)="cancelAndRouteBack()">Cancel</button>
  <button mat-button class="btn btn-info text-light" (click)="createAddress()" *ngIf="!addressId">Create</button>
  <button mat-button class="btn btn-info text-light" (click)="updateAddress(addressId)"
    *ngIf="addressId">Update</button>

</mat-card-actions>

<br>
<mat-card>
  <h3><strong>Your Addresses</strong></h3>
  <!-- create a loop here -->
  <fieldset class="mb-3 p-0" *ngFor="let address of listOfIssuerAddresses">

    <div class="row m-0 p-3" [ngClass]="{'bg-primary':addressId && address.id == addressId}">
      <div class="col-md-11">
        <div class="row">
          <!-- branch id -->
          <div class="col-md-2">
            <label>{{'Branch ID'|translate}}:</label>
            <span> {{address.branch_id}}</span>
          </div>
          <!-- country -->
          <div class="col-md-2">
            <label>{{'Country'|translate}}:</label>
            <span> {{address.country}}</span>
          </div>
          <!-- Governate -->
          <div class="col-md-2">
            <label>{{'Governate'|translate}}:</label>
            <span> {{address.governate}}</span>
          </div>
          <!-- Region City -->
          <div class="col-md-2">
            <label>{{'Region City'|translate}}:</label>
            <span> {{address.regionCity}}</span>
          </div>
          <!-- Street -->
          <div class="col-md-2">
            <label>{{'Street'|translate}}:</label>
            <span> {{address.street}}</span>
          </div>
          <!-- Building Number -->
          <div class="col-md-2">
            <label>{{'Building Number'|translate}}:</label>
            <span> {{address.buildingNumber}}</span>
          </div>
        </div>

        <div class="row">
          <!-- postal code -->
          <div class="col-md-2">
            <label>{{'Postal Code'|translate}}:</label>
            <span> {{address.postalCode}}</span>
          </div>
          <!-- floor -->
          <div class="col-md-2">
            <label>{{'Floor'|translate}}:</label>
            <span> {{address.floor}}</span>
          </div>
          <!-- room -->
          <div class="col-md-2">
            <label>{{'Room'|translate}}:</label>
            <span> {{address.room}}</span>
          </div>
          <!-- landmark -->
          <div class="col-md-2">
            <label>{{'Landmark'|translate}}:</label>
            <span> {{address.landmark}}</span>
          </div>
          <!-- additional info -->
          <div class="col-md-4">
            <label>{{'Additional Information'|translate}}:</label>
            <span> {{address.additionalInformation}}</span>
          </div>
        </div>

      </div>
      <!-- menu btn -->
      <div class="col-md-1">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/issuer/address/', address.id]">
            <mat-icon>edit</mat-icon>
            <span>{{'Update'|translate}}</span>
          </button>
        </mat-menu>
      </div>

    </div>



  </fieldset>
</mat-card>
