@import './assets/scss/variables.scss';
@import "~@ng-select/ng-select/themes/default.theme.css";

.border-box-sizing {
  box-sizing: border-box;
}

.bg-base-color {
  background-color: $base-color;
}

.text-white {
  color: #ffff !important;
}

.pointer {
  cursor: pointer;
}

html,
body {
  height: 100%;
  // overflow: auto;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-toolbar.mat-primary {
  background: $base-color !important;
  color: #fff !important;
}

.form-control, .btn, * {
  font-size: medium;
}

fieldset {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding-left: 1rem;
  box-shadow: 0 0 5px #AAAAAA;
}

.border-left{
  border-left: 2px solid gray;
}