@import './assets/scss/variables.scss';

.border-box-sizing {
  box-sizing: border-box;
}

.bg-base-color {
  background-color: $base-color;
}

.text-white {
  color: #ffff !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-toolbar.mat-primary {
  background: $base-color !important;
  color: #fff !important;
}

.form-control, .btn {
  font-size: medium;
}
