@import './assets/scss/variables.scss';
@import '~@ng-select/ng-select/themes/default.theme.css';
@import './assets/css/bootstrap.min.css';

.border-box-sizing {
  box-sizing: border-box;
}

.bg-base-color {
  background-color: $base-color;
}

.text-white {
  color: #ffff !important;
}

.pointer {
  cursor: pointer;
}

html,
body {
  height: 100%;
  // overflow: auto;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-toolbar.mat-primary {
  background: $base-color !important;
  color: #fff !important;
}

.form-control,
.btn,
* {
  font-size: medium;
}

fieldset {
  border: 1px solid gray;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px #AAAAAA;
  padding: 1rem;
}

.border-left{
  border-left: 2px solid gray;
}
table {
  width: 100%;
  // min-height: 500px;
}

tr.mat-row,
tr.mat-footer-row {
  height: 60px !important;
}

.loading-wrapper {
  position: absolute;
  z-index: 22222;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(000, 000, 000, 0.5);

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

label { font-weight: bold;}

.success-message {
  background-color: #28a745;
  color: #fff;
}

.mat-simple-snackbar-action { color: #fff; }
