<h2 mat-dialog-title>{{'Receiver' | translate}}</h2>
<mat-dialog-content class="mat-typography">
  <div class="form" [formGroup]="receiverForm">
    <!-- first row -->
    <div class="row d-flex align-items-center">

      <!-- code -->
      <div class="col-4">
        <div class="form-group">
          <label>{{'Code'|translate}}<span class="text-danger">*</span></label>
          <input type="text" class="form-control" placeholder="{{'Code'|translate}}" [(ngModel)]="receiverDetails.code"
            formControlName="code">
          <small class="text-danger" *ngIf="isSubmitted && receiverFormControls.code.errors?.required">
            {{'Code is required'|translate}}.
          </small>
        </div>
      </div>

      <!-- name -->
      <div class="col-4">
        <div class="form-group">
          <label>{{'Receiver Name' | translate}}<span class="text-danger">*</span></label>
          <input (ngModelChange)="receiverDetails.taxable_receiver_name = $event" type="text" class="form-control" placeholder="{{'Receiver Name'|translate}}"
            [(ngModel)]="receiverDetails.name" formControlName="name">
          <small class="text-danger" *ngIf="isSubmitted && receiverFormControls.name.errors?.required">
            {{'Name is required'|translate}}.
          </small>
        </div>
      </div>

        <!-- Receiver Taxable Name -->
        <div class="col-4">
          <div class="form-group">
            <label>{{'Receiver Taxable Name' | translate}}<span class="text-danger">*</span></label>
            <input type="text"  class="form-control" placeholder="{{'Receiver Taxable Name'|translate}}"
              [(ngModel)]="receiverDetails.taxable_receiver_name" formControlName="taxable_receiver_name">
            <small class="text-danger" *ngIf="isSubmitted && receiverFormControls.taxable_receiver_name.errors?.required">
              {{'Receiver Taxable Name is required'|translate}}.
            </small>
          </div>
        </div>
      <!-- type -->
      <div class="col-4">
        <div class="form-group">
          <label for="exampleFormControlSelect1">{{'Type' | translate}}<span class="text-danger">*</span></label>
          <ng-select [items]="listOfReceiverType" bindLabel="label" bindValue="value" [searchable]="true"
            placeholder="{{'Receiver Type'|translate}}" [(ngModel)]="receiverDetails.type" formControlName="type">
          </ng-select>
          <small class="text-danger" *ngIf="isSubmitted && receiverFormControls.type.errors?.required">
            {{'Type is required'|translate}}.
          </small>
        </div>
      </div>
      
      <!-- national id -->
      <div *ngIf="receiverDetails.type" class="col-4">
        <div class="form-group">
          <label *ngIf="receiverDetails.type === 'B'">{{'Registration Number' | translate}}<span class="text-danger">*</span></label>
          <label *ngIf="receiverDetails.type === 'P'">{{'National ID' | translate}}</label>
          <label *ngIf="receiverDetails.type === 'F'">{{'Passport' | translate}}<span class="text-danger">*</span></label>
          <input type="number" class="form-control"
            [(ngModel)]="receiverDetails.reg_num" formControlName="reg_num">
          <small class="text-danger" *ngIf="isSubmitted && receiverFormControls.reg_num.errors?.isRequired">
            {{'Feild is required'|translate}}.
          </small>
        </div>
      </div>

      <!-- country -->
      <div class="col-4">
        <div class="form-group">
          <label>{{'Country'|translate}}<span class="text-danger">*</span></label>
          <ng-select *ngIf="translate.currentLang === 'en'" [items]="listOfCountries" [bindLabel]="'desc_en'"
            bindValue="code" [searchable]="true" placeholder="{{'Country'|translate}}"
            [(ngModel)]="receiverDetails.country" formControlName="country">
          </ng-select>
          <ng-select *ngIf="translate.currentLang === 'ar'" [items]="listOfCountries" [bindLabel]="'desc_ar'"
            bindValue="code" [searchable]="true" placeholder="{{'Country'|translate}}"
            [(ngModel)]="receiverDetails.country" formControlName="country">
          </ng-select>
          <small class="text-danger" *ngIf="isSubmitted && receiverFormControls.country.errors?.required">
            {{'Country is required'|translate}}.
          </small>
        </div>
      </div>
      <!-- governate -->
      <div class="col-4">
        <div class="form-group">
          <label>{{'Governate'|translate}}<span class="text-danger">*</span></label>
          <input type="text" class="form-control" placeholder="{{'Governate'|translate}}"
            [(ngModel)]="receiverDetails.governate" formControlName="governate">
          <small class="text-danger" *ngIf="isSubmitted && receiverFormControls.governate.errors?.required">
            {{'Governate is required'|translate}}.
          </small>
        </div>
      </div>
      <!-- region city-->
      <div class="col-4">
        <div class="form-group">
          <label>{{'Region City'|translate}}<span class="text-danger">*</span></label>
          <input type="text" class="form-control" placeholder="{{'Region City'|translate}}"
            [(ngModel)]="receiverDetails.regionCity" formControlName="regionCity">
          <small class="text-danger" *ngIf="isSubmitted && receiverFormControls.regionCity.errors?.required">
            {{'Region City is required'|translate}}.
          </small>
        </div>
      </div>

      <!-- street -->
      <div class="col-4">
        <div class="form-group">
          <label>{{'Street'|translate}}<span class="text-danger">*</span></label>
          <input type="text" class="form-control" placeholder="{{'Street'|translate}}"
            [(ngModel)]="receiverDetails.street" formControlName="street">
          <small class="text-danger" *ngIf="isSubmitted && receiverFormControls.street.errors?.required">
            {{'Street is required'|translate}}.
          </small>
        </div>
      </div>
      <!-- building number -->
      <div class="col-4">
        <div class="form-group">
          <label>{{'Building Number'|translate}}<span class="text-danger">*</span></label>
          <input type="text" class="form-control" placeholder="{{'Building Number'|translate}}"
            [(ngModel)]="receiverDetails.buildingNumber" formControlName="buildingNumber">
          <small class="text-danger" *ngIf="isSubmitted && receiverFormControls.buildingNumber.errors?.required">
            {{'Building Number is required'|translate}}.
          </small>
        </div>
      </div>


        <!-- isTaxable -->
        <div class="col-4">
          <div class="form-group">
            <mat-slide-toggle   [(ngModel)]="receiverDetails.is_taxable" formControlName="isTaxable">{{'Is Taxable'|translate}}<span class="text-danger">*</span></mat-slide-toggle>
            <small class="text-danger" *ngIf="isSubmitted && receiverFormControls.isTaxable.errors?.required">
              {{'Is taxable is required'|translate}}.
            </small>
          </div>
        </div>


    </div>


  </div>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-button class="btn btn-secondary text-light" mat-dialog-close>{{'Cancel'|translate}}</button>
  <button mat-button class="btn btn-info text-light" cdkFocusInitial
    (click)="handleSaveReceiver(receiverDetails)">{{receiverDetails.id?('Update'|translate):('Create'|translate)}}</button>
</mat-dialog-actions>
