<div>
  <mat-card>
    <mat-card-title class="text-mb-4">{{'Dashboard' | translate}}</mat-card-title>

    <br>
    <br>
    <div class="container">
      <!-- cards -->
      <div class="row mt-6 mb-6" style="height: 10rem;">

        <div class="d-flex justify-content-between">
          <div class="col-md-3 mb-5">
            <mat-card class="text-white bg-warning">
              <div class="row card-title">
                <div><strong>{{'Receivers Count'|translate}} </strong></div>
              </div>
              <div class="row px-4">
                <div class="col-6">
                  <span class="material-icons card-icon">
                    person
                  </span>
                </div>
                <div class="col-6 card-count">
                  {{dashboardCounts.receivers_count || 0}}
                </div>
              </div>

            </mat-card>
          </div>
          <div class="col-md-3">

            <mat-card class="text-white bg-success">
              <div class="row card-title">
                <div><strong>{{ thisMonth | date:'MMMM'}}'s {{'Valid Invoices'|translate}} </strong></div>
              </div>
              <div class="row px-4">
                <div class="col-6">
                  <span class="material-icons card-icon">
                    done
                  </span>
                </div>
                <div class="col-6 card-count">
                  {{dashboardCounts.submissions_count_valid ||
                  0}}
                </div>
              </div>

            </mat-card>
          </div>

          <div class="col-md-3">
            <mat-card class="text-white bg-danger">
              <div class="row card-title">
                <div><strong>{{ thisMonth | date:'MMMM'}}'s {{'Invalid Invoices'|translate}}</strong></div>
              </div>
              <div class="row px-4">
                <div class="col-6">
                  <span class="material-icons card-icon">
                    close </span>
                </div>
                <div class="col-6 card-count">
                  {{dashboardCounts.submissions_count_invalid || 0}}
                </div>
              </div>

            </mat-card>

          </div>
          <div class="col-md-3">

            <mat-card class="text-white bg-primary">
              <div class="row card-title">
                <div><strong>{{'Total Invoices'|translate}} </strong></div>
              </div>
              <div class="row px-4">
                <div class="col-6">
                  <span class="material-icons card-icon">
                    insert_drive_file
                  </span>
                </div>
                <div class="col-6 card-count">
                  {{dashboardCounts.total_invoices_count ||
                  0}}
                </div>
              </div>

            </mat-card>
          </div>
        </div>
      </div>
    </div>
    <!-- recent invoices -->
    <br>
    <br>
    <mat-card-title class="text-secondary mt-6">{{'Recent Invoices' | translate}}</mat-card-title>
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="standard">
          <mat-label>{{'Search' | translate}}</mat-label>
          <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>
      </div>
      <div class="col-6 text-right">
        <button type="button" class="btn btn-primary" (click)="getRecentInvoices()" data-toggle="tooltip"
          data-placement="bottom" title="{{'Get Recent Invoices'|translate}}"> {{'Get Recent Invoices'|translate}}
        </button>
      </div>
    </div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="invoiceDataSource" matSort>

        <ng-container matColumnDef="issuerName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Issuer Name' | translate}} </th>
          <td mat-cell *matCellDef="let row"> {{row.issuerName}} </td>
        </ng-container>

        <ng-container matColumnDef="receiverName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Receiver Name' | translate}} </th>
          <td mat-cell *matCellDef="let row"> {{row.receiverName}} </td>
        </ng-container>

        <ng-container matColumnDef="documentTypeNamePrimaryLang">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Document Type' | translate}} </th>
          <td mat-cell *matCellDef="let row"> {{row.documentTypeNamePrimaryLang}} </td>
        </ng-container>

        <ng-container matColumnDef="dateTimeIssued">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Date Time Issued' | translate}} </th>
          <td mat-cell *matCellDef="let row"> {{row.dateTimeIssued| date:'dd/MM/yyyy hh:mm:ss a'}} </td>
        </ng-container>

        <ng-container matColumnDef="dateTimeReceived">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Date Time Received' | translate}} </th>
          <td mat-cell *matCellDef="let row"> {{row.dateTimeReceived| date:'dd/MM/yyyy hh:mm:ss a'}} </td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Total' | translate}} </th>
          <td mat-cell *matCellDef="let row"> {{row.total}} </td>
        </ng-container>


        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Actions' | translate}} </th>
          <td mat-cell *matCellDef="let row">
            <button mat-button class="btn btn-primary" [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openInvoice(row.publicUrl)">{{'View Invoice' | translate}}</button>
              <button mat-menu-item *ngIf="currentIssuer && currentIssuer== row.receiverId"
                (click)="openInvoiceCancelPopup(row.id,row.internalId)">{{'Reject Invoice' |
                translate}}</button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell text-center" colspan="4">{{'No data to show' | translate}}</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[10]" aria-label="Select page of invoices"></mat-paginator>
    </div>
  </mat-card>
</div>
