<mat-card>
    <mat-card-title class="pb-3">{{'Reset Password' | translate}}</mat-card-title>
    <div class="row pt-5" [formGroup]="passwordForm">
      <div class="col-7 form-group">
        <label for="old_password">{{'Old Password'|translate}}<span class="text-danger">*</span></label>
        <input class="form-control" type="text" formControlName="old_password" id="old_passwords">
        <small class="text-danger" *ngIf="isSubmitted && passwordFormControls.old_password.errors?.required">
          {{'Old password is required'|translate}}.
        </small>
      </div>
    
      <div class="col-7 form-group">
        <label for="password">{{'Password'|translate}}<span class="text-danger">*</span></label>
        <input class="form-control" type="password" formControlName="password" id="password" [(ngModel)]="password"
          (ngModelChange)="isPasswordMatch = password === password2">
        <small class="text-danger" *ngIf="isSubmitted && passwordFormControls.password.errors?.minlength">
          {{'Password should be 8 or more figures'|translate}}.
        </small>
      </div>
      <div class="col-7 form-group">
        <label for="confirm_password">{{'Confirm Password'|translate}}<span class="text-danger">*</span></label>
        <input class="form-control" type="password" formControlName="password2" id="confirm_password"
          [(ngModel)]="password2" (ngModelChange)="isPasswordMatch = password === password2">
        <small class="text-danger" *ngIf="isSubmitted && passwordFormControls.password2.errors?.required">
          {{'Password required'|translate}}.
        </small>
        <small class="text-danger" *ngIf="isSubmitted && !isPasswordMatch">
          {{'Passwords don\'t match'|translate}}.
        </small>
  
      </div>
      <div class="col-7 form-group">
        <button class="btn btn-primary" (click)="changePassword(passwordForm.value)">{{'Save'|translate}}</button>
      </div>
    </div>
  </mat-card>
  